@charset "UTF-8";

.main>form {
	width: 800px;
	margin: 100px auto 300px;
}

.main>table>form {
	text-align: center;
}

.updateBtn {
	cursor: pointer;
}

table {
	width: 700px;
	margin: 0 auto;
}

table tr td:first-child {
	width: 20%;
	font-size: 22px;
	font-weight: bold;
	color: slategray;
}

table tr td:last-child {
	width: 80%;
	color: gray;
}

table, tr, td {
	border-collapse: collapse;
	border: 1px solid #dfdfdf;
}

tr {
	height: 80px;
}


tr:last-child span {
	display: block;
	height: 60px;
	line-height: 60px;
	color: white;
}
tr:last-child td{
	border-left: 1px solid white;	
	border-right: 1px solid white;	
	border-bottom: 1px solid white;	
}
h1 {
	text-align: center;
	font-size: 35px;
	margin-bottom: 60px;
}

input[type="number"] {
	margin-left : 10px;
	width: 100px;
	height: 40px;
	text-align: center;
	padding-left: 20px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
}

input[type="text"] {
	margin-left : 10px;
	width: 500px;
	height: 40px;
	text-align: center;
	padding-left: 20px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
}
.Button1 {
	background-color:#90c8ac;
   border-radius:10px;
   border:1px solid #90c8ac;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:21px;
   font-weight:bold;
   padding:11px 275px;
   text-decoration:none;
   text-shadow:0px 1px 0px #90c8ac;
       width: 100%;
}
.Button1:hover {
   background-color:#f5f0bb;
}
.Button1:active {
   position:relative;
   top:1px;
}