@charset "EUC-KR";
  .main>div{
      width: 800px;
      height: 500px;
      margin: 200px auto 300px;
   }
   .main>div>form{
      text-align: center;   
   }
   .reservationBtn{
      cursor: pointer;
   }
   table{
      width: 700px;
      margin: 0 auto;
   }
   table tr td:first-child{
      width: 20%;
      font-size: 22px;
       font-weight: bold;
       color: slategray;
   }
   table tr td:last-child{
      width: 80%;
      color: gray;
   }
   table, tr, td{
      border-collapse: collapse;
      border: 1px solid #dfdfdf;
   }
   tr{
       height: 80px;
   }
   tr:last-child span{
      display: block;
       height: 60px;
       line-height: 60px;
       color: white;
   }
   h1{
      text-align: center;
      font-size: 35px;
       margin-bottom: 60px;
   }
   input[type="number"]{
       width: 100px;
       height: 40px;
       text-align: center;
       padding-left: 20px;
       border: 1px solid #dfdfdf;
       border-radius: 10px;
   }
.input2{
	margin-left: 12px;
	width: 400px;
	height: 32px;
}
.submitButton2 {
	background-color:#c3dfaa;
	border-radius:10px;
	border:1px solid #c3dfaa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:11px 145px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c3dfaa;
	margin-right: 12px;
}

.submitButton2:hover {
	background-color:#f5f0bb;
}
.submitButton2:active {
	position:relative;
	top:1px;
}

.resetButton2 {
	background-color:#f5f0bb;
	border-radius:10px;
	border:1px solid #f5f0bb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:11px 145px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f5f0bb;
}

.resetButton2:hover {
	background-color: #c3dfaa;
}
.resetButton2:active {
	position:relative;
	top:1px;
}
.buttonBox2{
	margin-top: 20px;
	text-align: center;
}
